body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: #87b2c2;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
}

.code-container {
  width: 25%;
  height: 100%;
  border: 2px solid rgba(0, 0, 0, 0.578);
}

.circle {
  position: absolute;
}

.circle:hover {
  z-index: auto;
  cursor: pointer;
}

svg text {
  position: relative;
  z-index: 5;
}

.arguments-input {
  margin: 1rem;
}

.array-input {
  margin: 1rem;
}

.code-selector {
  margin-top: 1rem;
  border: 2px solid black;
  width: 100%;
}

.code-selector:hover {
  box-shadow: 2px 2px 2px 2px;
  cursor: pointer;
}
.arguments-input {
  margin: 1rem;
}

.code {
  display: flex;
  height: 50%;
  width: 100%;
  border: 3px solid #61b7d6;
  font-size: 18px;
  color: white;
  padding: 10px;
  background-color: rgb(53, 61, 61);
}

.text {
  position: absolute;
  right: 5.5rem;
  bottom: 4rem;
  font-size: 17px;
  transform: translateX(-50%);
}

.stack {
  display: table-cell;
  border: 20px solid rgb(0, 176, 182);
  width: 17.5%;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  border-radius: 5px;
  font-size: large;
  font-size: 1.3rem;
}

.stack-element {
  text-align: center;
  border: 2px solid black;
  width: 100%;
  height: 100%;
}

.run {
  background-color: rgba(0, 103, 248, 0.687);
  outline: none;
  border: none;
  padding: 10px 20px;
  color: white;
  font-size: 19px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.552);
  border-radius: 4px;
}
.stop {
  background-color: rgb(196, 73, 28);
  outline: none;
  border: none;
  padding: 10px 20px;
  color: white;
  font-size: 19px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.552);
  border-radius: 4px;
}

input {
  font-size: 20px;
  padding: 5px 10px 5px 5px;
  border: 1px solid #000;
  background-color: aliceblue;
  outline: none;
  border-radius: 4px;
}

select {
  font-size: 20px;
  padding: 5px 10px 5px 5px;
  border: 1px solid #000;
  background-color: aliceblue;
  outline: none;
  border-radius: 4px;
}

button {
  margin: 1rem;
  margin-right: 2rem;
}

button:hover {
  cursor: pointer;
}

#label-slider {
  font-size: 18px;
  margin-left: 20px;
  margin-top: 30px
}

.slider {
  -webkit-appearance: none;
  width: 85%;
  height: 20px;
  background: #d0d0d0;
  outline: none;
  margin: 10px 20px;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  cursor: pointer;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 20px;
  background: #61b7d6;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 20px;
  background: #61b7d6;
  cursor: pointer;
}
